.capsule {
	box-sizing:border-box;
	padding:0px 30px;
	background:#f8f8f8;
	border-radius:5px;
	margin-bottom:10px;
	overflow:hidden;
	max-height:60px;
	-webkit-transition:max-height 0.4s;
	position:relative;
	border:1px solid #eee;
	&.inactive {
		background:rgba( #f8f8f8, .5 );
		border:1px solid rgba(#eee, .5 );
		h3 {
			opacity:0.3;
		}
	}
	&:after {
		position: absolute;
		top:23px;
		right:30px;
		display: block;
		width: 27px;
		height:14px;
		background:red;
		content:"";
		background:url('../img/cog.png') center center no-repeat;
	}
	h3 {
		cursor:pointer;
		margin: 0;
		padding:0;
		&.header {
			line-height: 60px;
			height:60px;
			$locales: us gb ie;

			@each $locale in $locales {
				&.#{$locale}{
					padding-left:25px;
					background: url('../img/#{$locale}.png') center left no-repeat;
				}
			}

		}
	}
	&.open {
		border:1px solid $green;
		background:#fff;
		max-height: 999px;
		&.child {
			border-color:#ddd;
		}
	}
}