ul.ivr-menu-list {
	font-size:13px;
	line-height:40px;
	li {
		cursor: pointer;
		-webkit-transition: border 0.3s;
		border-right:1px solid #ddd;
		&.active,
		&:hover {
			font-weight: bold;
			border-right:3px solid $green;
		}
	}
}

ul.ivr-menu-dropdown {
	@include dropdownShadow;
	font-size:13px;
	position: absolute;
	max-width:300px;
	padding:10px 0;
	min-width:200px;
	li {
		padding:0 30px;
		line-height:45px;
		&:last-child {
			.inner-item {
				border-top:1px solid #ddd;
			}
		}
		.inner-item {
			display: block;
		}
		&:hover {
			background: #fafafa;
			cursor:pointer;
		}
	}
}