<div class="row t-40 b-10 title-action">
	<h3>IVR Menus</h3>
	<button class="white secondary col right">add menu</button>
</div>
<!-- capsule parent -->
	<div class="menus">
		
		<!-- single capsule -->
		<div id="ivrmenu-{{$index}}" ng-class="{open:isActive($index)}" ng-repeat="menu in ivrMenus" class="capsule">

			<h3 ng-click="setActive($index); setTab(1)" class="header">{{menu.name}} <span class="sub">({{menu.ivr.length}} menu levels)</span></h3>
			
			<!-- capsule tabs -->
			<div class="tab b-40 t-10">
				<ul>
					<li ng-class="{ 'active':isActiveTab(1) }" ng-click="setTab(1)">IVR Menu levels ({{menu.ivr.length}})</li>
					<li ng-class="{ 'active':isActiveTab(2) }" ng-click="setTab(2)">Associated numbers (2)</li>
					<li ng-class="{ 'active':isActiveTab(3) }" ng-click="setTab(3)">Settings</li>
				</ul>
			</div>
			<!-- capsule tabs -->


			<!-- associated numbers -->
			<div ng-show="activeTab === 2">
				<div class="row t-40 b-10">
					<h4>Numbers ({{selectedIvr.routes.length}})</h4>
				</div>
				
				<div class="row" ng-controller="associatedNumbersController">
					<ul class="table">
						<li ng-repeat="number in numbers" class="number {{number.locale}} ">
							<span class="seg">
								<span class="action">{{number.name}}</span> ({{number.number}})
							</span>
							<div class="col w-80 t-5 right">
								<div class="radio-button" ng-click="toggleNumber(menu.numbers, number)" ng-class="{'active': isAttached(menu.numbers, number) }">
									<span class="toggle"></span>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<!-- associated numbers -->


			<!-- settings -->
			<div class="row" ng-show="activeTab === 3">
				
				<div class="col w-p-100">
					<h4 class="b-10">Name</h4>
					<div class="col w-p-60">
						<p>{{ipsum | words: 20 }}</p>
					</div>
					<div class="col w-p-40 p-l-30">
						<input type="text" value="{{menu.name}}">
					</div>
				</div>

			</div>
			<!-- settings -->


			<!-- ivr menu level -->
			<div class="row" ng-show="activeTab === 1">
			

				<!-- ivr dropdown select -->
				<div class="col w-p-20">
					<h4 class="b-10">IVR Menu</h4>
					<select ng-init="selectedIvr = menu.ivr[0]" ng-model="selectedIvr" ng-options="ivr.name for ivr in menu.ivr">
					</select>
				</div>
				<!-- /ivr dropdown select -->
		
				<!-- ivr info -->
				<div class="col w-p-80 p-l-30">
					
					<!-- name -->
					<div class="row">
						<h4 class="b-10">Name</h4>
						<div class="col w-p-60">
							<p>{{ ipsum | words : 15}}</p>
						</div>
						<div class="col w-p-40 p-l-30">
							<input type="text" value="{{selectedIvr.name}}">
						</div>
					</div>
					<!-- /name -->

					<!-- greeting -->
					<div class="row t-40">
						<h4 class="b-10">Greeting</h4>
						<div class="col w-p-60">
							<p>{{ ipsum | words : 15}}</p>
						</div>
						<div class="col w-p-40 p-l-30">
						
							<div class="audio">
								<select name="" id="">
									<option ng-bind="selectedIvr.greeting" value=""></option>
								</select>
							</div>
							
						</div>
					</div>
					<!-- /greeting -->

					<!-- active routes -->
					<div class="row t-40 b-10 title-action">
						<h4>Active Routes ({{selectedIvr.routes.length}})</h4>
						<button class="white secondary col right">add route</button>
					</div>


					<div class="row" ng-controller="ivrRouteController">
						<ul class="table sheltered">
							<li ng-repeat="route in selectedIvr.routes">
								<span class="seg">presses <span class="action">{{route.keypress}}</span></span>
								<span class="seg">
									route to <span class="action">{{route.action}}</span> <span class="ul">{{route.value}}</span>
								</span>
								<span class="edit">
									<span ng-click="editRouteModal(route)">edit</span><span href="#">delete</span>
								</span>
							</li>
						</ul>
					</div>
					<!-- /active routes -->
	

					<!-- delete -->
					<div class="row t-40 b-10">
						<h4 class="b-10">Delete this menu level?</h4>
						<div class="col w-p-60">
							<p>{{ ipsum | words : 15}}</p>
						</div>
						<div class="col w-p-40 p-l-30">
							<button class="col right white secondary">delete</button>
						</div>
					</div>
					<!-- delete -->


				</div>
				<!-- /ivr info -->
			
			</div>
			<!-- ivr menu level -->
		
			<!-- save action -->
			<div class="save-controls">
				<hr>
				<div class="button-group b-30">
					<button class="cancel white">Cancel</button>
					<button class="save l-10 black">Save</button>
				</div>
			</div>
			<!-- /save action -->

		
		</div> 
		<!-- /single capsule -->

	</div>
	<!-- /capsule parent -->