<h1>Voice</h1>
<div class="tab" ng-controller="navController">
	<ul>
		<li ng-click="changePage('/settings')" ng-class="{active:isActive('/settings') || isActive('/') }">Settings</li>
		<li ng-click="changePage('/numbers')" ng-class="{active:isActive('/numbers') }">Numbers</li>
		<li ng-click="changePage('/greetings')" ng-class="{active:isActive('/greetings') }">Greetings</li>
		<li ng-click="changePage('/ivr')" ng-class="{active: isActive('/ivr') || isActive('/ivr/dropdown') || isActive('/ivr/list') }">IVR</li>
	</ul>
</div>