<div class="row border t-40 b-40">
	<h3 class="b-10">Enable voice</h3>
	<div class="col w-590">
		<p>{{ipsum | words: 20}}</p>
	</div>	
	<div class="col w-60 l-200">
		<radio-button state="on"></radio-button>
	</div>
</div>

<div class="row border t-40 b-40">
	<h3 class="b-10">Allow outbound calls</h3>
	<div class="col w-590">
		<p>{{ipsum | words: 20}}</p>
	</div>	
	<div class="col w-60 l-200">
		<radio-button state="off"></radio-button>
	</div>
</div>

<div class="row border t-40 b-40">
	<h3 class="b-10">Maximum queue size</h3>
	<div class="col w-590">
		<p>{{ipsum | words: 20}}</p>
	</div>	
	<div class="col w-200 l-60">
		<select>
			<option value="">1</option>
			<option value="">2</option>
			<option value="">3</option>
			<option value="">4</option>
			<option value="">5</option>
		</select>
	</div>
</div>

<div class="row border t-40 b-40">
	<h3 class="b-10">New live call recordings are public?</h3>
	<div class="col w-590">
		<p>{{ipsum | words: 20}}</p>
	</div>	
	<div class="col w-60 l-200">
		<radio-button state="on"></radio-button>
	</div>
</div>

<div class="row border t-40 b-40">
	<h3 class="b-10">Only route calls during business hours?</h3>
	<div class="col w-590">
		<p>{{ipsum | words: 20}}</p>
	</div>	
	<div class="col w-60 l-200">
		<radio-button state="on"></radio-button>
	</div>
</div>

<div class="row border t-40 b-40">
	<h3 class="b-10">Agent wrap up after calls</h3>
	<div class="col w-590">
		<p>{{ipsum | words: 20}}</p>
	</div>	
	<div class="col w-60 l-200">
		<radio-button state="on"></radio-button>
	</div>
</div>


<div class="row t-40 b-40">
	<h3 class="b-10">Agent confirmation when forwarding?</h3>
	<div class="col w-590">
		<p>{{ipsum | words: 20}}</p>
	</div>	
	<div class="col w-60 l-200">
		<radio-button state="off"></radio-button>
	</div>
</div>




