<!-- edit route -->
	<div class="modal" ng-show="modal.editing === true">
		<div class="inner">
			<div class="form">

				<div class="row b-20">
					<h3>Add Route <span class="close">x</span> </h3>
				</div>

				<div class="row">
					<label for="keypress">keypress</label>
					<select>
						<option value="1">{{modal.route.keypress}}</option>
					</select>
				</div>

				<div class="row t-30">
					<label for="action">action</label>
					<select>
						<option value="1">Route to {{modal.route.action}}</option>
					</select>
				</div>

				<div class="row t-30">
					<label for="action">{{modal.route.action}}</label>
					<select>
						<option value="1">{{modal.route.value}}</option>
					</select>
				</div>

				<!-- save controls -->
				<div class="row save-controls">
					<hr>
					<div class="button-group">
						<button class="cancel white" ng-click="modal.editing = false">Cancel</button>
						<button class="save l-10 black" ng-click="modal.route = {}">Save</button>
					</div>
				</div>
				<!-- save controls -->

			</div>
		</div>
	</div>
	<!-- edit route -->