<div class="row"></div>

<div class="row border t-40 b-40">
	<h3 class="b-10">Enable voice</h3>
	<div class="col w-p-60">
		<p>{{ipsum | words: 20}}</p>
	</div>	
	<div class="col w-p-40 p-l-50">

		<div class="col w-60 right">
			<toggle-switch model="settings" option="'enableVoice'"></toggle-switch>
		</div>

	</div>
</div>

<div class="row border t-40 b-40">
	<h3 class="b-10">Allow outbound calls</h3>
	<div class="col w-p-60">
		<p>{{ipsum | words: 20}}</p>
	</div>	
	<div class="col w-p-40 p-l-50">
		<div class="col w-60 right">
			<toggle-switch model="settings" option="'allowOutboundCalls'"></toggle-switch>
		</div>
	</div>
</div>

<div class="row border t-40 b-40">
	<h3 class="b-10">Maximum queue size</h3>
	<div class="col w-p-60">
		<p>{{ipsum | words: 20}}</p>
	</div>	
	<div class="col w-p-40 p-l-50">
		<select>
			<option value="">1</option>
			<option value="">2</option>
			<option value="">3</option>
			<option value="">4</option>
			<option value="">5</option>
		</select>
	</div>
</div>

<div class="row border t-40 b-40">
	<h3 class="b-10">New live call recordings are public?</h3>
	<div class="col w-p-60">
		<p>{{ipsum | words: 20}}</p>
	</div>	
	<div class="col w-p-40 p-l-50">

		<div class="col w-60 right">
			<toggle-switch model="settings" option="'newLiveCallRecordingsArePublic'"></toggle-switch>
		</div>		

	</div>
</div>

<div class="row border t-40 b-40">
	<h3 class="b-10">Only route calls during business hours?</h3>
	<div class="col w-p-60">
		<p>{{ipsum | words: 20}}</p>
	</div>	
	<div class="col w-p-40 p-l-50">

		<div class="col w-60 right">
			<toggle-switch model="settings" option="'onlyRouteCallsDuringBusinessHours'"></toggle-switch>
		</div>

	</div>
</div>

<div class="row border t-40 b-40">
	<h3 class="b-10">Agent wrap up after calls</h3>
	<div class="col w-p-60">
		<p>{{ipsum | words: 20}}</p>
	</div>	
	<div class="col w-p-40 p-l-50">

		<div class="col w-60 right">
			<toggle-switch model="settings" option="'agentWrapUpAfterCalls'"></toggle-switch>
		</div>

	</div>
</div>


<div class="row t-40 b-40">
	<h3 class="b-10">Agent confirmation when forwarding?</h3>
	<div class="col w-p-60">
		<p>{{ipsum | words: 20}}</p>
	</div>	
	<div class="col w-p-40 p-l-50">

		<div class="col w-60 right">
			<toggle-switch model="settings" option="'agentConfirmationWhenForwarding'"></toggle-switch>
		</div>

	</div>
</div>




